[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
django-extensions = "*"
django-import-export = "*"
django-reversion = "*"
django-imagekit = "*"
django-filters = "*"
django-model-utils = "*"
django-jsonfield = "*"
django-lifecycle = "*"
django-mptt = "*"
django-split-settings = "*"
django-storages = "*"
django-thumbor = "*"
flower = "*"
redis = "*"
djangorestframework = "*"
hashids = "*"
jpush = "*"
click = "*"
plan = "*"
pycrypto = "*"
requests = "*"
wechatpy = "*"
django-debug-toolbar = "*"
django-rest-swagger = "*"
django-silk = "*"
raven = "*"
gevent = "*"
tornado = "*"
meinheld = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
Django = "*"
django_celery_results = "*"
django_celery_beat = "*"
"Fabric3" = "*"
Pillow = "*"
uWSGI = "*"

[dev-packages]

[requires]
python_version = "3.6"
